@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.App{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}
.blackButton{
    color: white;
    background-color: black;
    width: 12.7vw;
    height: 6.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}
.Panel{
    height: 50vh;
    width:100vw;
}
.bigText{
    font-size: 60px;
    font-weight: bold;
}
.semiMediumText{
    font-size: 20px;
    font-weight: bold;
}
.mediumText{
    font-size: 30px;
    font-weight: bold;
}
.semiBigText{
    font-size: 45px;
    font-weight: bold;
}
.smallImage{
    height:7vh;
}
.flowerIcon{
    background: url('../assets/flowerIcon.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.Bullet{
    height: 20px;
    width: 20px;
    background-color: #6442F0;
    border-radius: 50%;
}
.ScrollableBullets_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    overflow-y: scroll;
}
.ScrollableBullets_BulletWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.BulletSection_Wrapper{
    display: flex;
    justify-content: space-between;
    width: 56.7vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
.BulletSection_TextSection{
    width: 53.7vw;
}
@media screen and (max-width:875px){
    .bigText{
        font-size: 50px;
    }
}
@media screen and (max-width:1485px){
    .bigText{
        font-size: 48px;
    }
}
@media screen and (max-width:1300px){
    .blackButton{
        width: 30vw;
    }
}
@media screen and (max-width:1300px){
    .App{
        font-size: 15px;
    }
}
