@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
.App{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}
.blackButton{
    color: white;
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}
.Panel{
    height: 50vh;
    width:100vw;
}
@media screen and (min-height: 880px){
    .Panel{
        height: 30vh;
    }
}
.bigText{
    font-size: 60px;
    font-weight: bold;
}
@media screen and (max-height: 360px){
    .bigText{
        font-size: 30px;
        font-weight: bold;
    }
}
@media screen and (max-width: 480px){
    .bigText{
        font-size: 30px;
        font-weight: bold;
    }
}
.semiMediumText{
    font-size: 20px;
    font-weight: bold;
}
.mediumText{
    font-size: 30px;
    font-weight: bold;
}
.semiBigText{
    font-size: 45px;
    font-weight: bold;
}
.smallImage{
    height:7vh;
    border-radius: 10px;
}
.flowerIcon{
    background: url('../assets/flowerIcon.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.Bullet{
    height: 20px;
    width: 20px;
    background-color: #6442F0;
    border-radius: 50%;
}
.smallBullet{
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}
.Bullet_Wrapper{
    display: flex;
    align-items: center;
}
.ScrollableBullets_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    overflow-y: scroll;
}
.ScrollableBullets_BulletWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.BulletSection_Wrapper{
    display: flex;
    justify-content: space-between;
    width: 56.7vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
}
@media screen and (max-width: 990px){
    .BulletSection_Wrapper{
        width: 58.7vw;
    }
}
.Rectangle{
    height: 6vh;
    padding-left:20px;
    padding-right:20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    float: left;
}
.BulletSection_TextSection{
    width: 53.7vw;
}
.JobCard{
    /* width: 25vw; */
    display: flex;
    height: 24vh;
    justify-content: center;
    align-items: center;
    background-color: #FFF9DC;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 50vw;
}
.JobCard_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 22vh;
}
.Point{
    max-width: 23vw;
    padding-left: 10px;
}

@media screen and (max-width:1300px){
    .App{
        font-size: 15px;
    }
}
